.questionContainer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 0.794239px solid #DBDEF0;
    &-question {
        font-family: 'Karla';
        font-weight: 700;
        font-size: 16px;
    }
}

.answersForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    &_label {
        margin-right: 20px;
        font-family: 'Inter';
        font-weight: bold;
        font-size: 11px;
        padding: 5px 10px;
        border: 1.5px solid #4D5B9E;
        border-radius: 10px;
        color: #4D5B9E;
        &-radio {
            appearance: none;
        }
    }
    &_label:hover {
        background-color: #D6DBF5;
    }
}